.app {
  display: flex;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  height: 100vh;
  flex-shrink: 0;
}

.main-content {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
