/* Global styles or other components */

.app {
  display: flex;
  background-color: #232323;
  width: 100vw;
  height: 100vh;
}

.main-content {
  width: 100%;
}

.hero-placeholder {
  height: 400px;
  width: 800px;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.logo-img {
  max-width: 200px;
  max-height: 200px;
}
